<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>skyeng-test-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53BEF1E11DFD8E3700AB4EC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53BEF1FA1DFD8E3700AB4EC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53BEF2051DFD8E3700AB4EC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
